In [39]:
from scheduler_class import CourseScheduleExtractor
courses = ['EEE-351', 'EEE-443', 'EEE-473', 'EEE-431', 'EEE-491']
#courses = ['EEE-431','EEE-493', 'EEE-443', 'EEE-442', 'EEE-424']# 'CS-464', 'CS-421', 'THR-110'
schedule_string = open('data.txt','r').read()
extractor = CourseScheduleExtractor(schedule_string, courses)
extractor.get_courses()
schedules = extractor.get_schedules()
#extractor.get_course_info('CSS-464')

All courses:  ['EEE-342', 'EEE-351', 'EEE-424', 'EEE-428', 'EEE-431', 'EEE-442', 'EEE-443', 'EEE-473', 'EEE-485', 'EEE-491', 'EEE-493', 'EEE-495', 'EEE-501', 'EEE-514', 'EEE-528', 'EEE-533', 'EEE-542', 'EEE-543', 'EEE-560', 'EEE-573', 'EEE-585', 'EEE-603', 'EEE-634']

Selected courses:  ['EEE-351', 'EEE-443', 'EEE-473', 'EEE-431', 'EEE-491']

Number of schedules found: 1

EEE-351 Section: 1  Vakur Behçet Ertürk
EEE-443 Section: 1  Tolga Çukur
EEE-473 Section: 1  Emine Ülkü Sarıtaş
EEE-431 Section: 1  Nail Akar
EEE-491 Section: 1  İsmail Enis Ungan

         Mon        Tue        Wed        Thu        Fri
1             EEE-473-1  EEE-443-1  EEE-351-1  EEE-431-1
2             EEE-473-1  EEE-443-1  EEE-351-1  EEE-431-1
3                        EEE-491-1
4                        EEE-491-1
L
5  EEE-351-1  EEE-431-1             EEE-473-1  EEE-443-1
6  EEE-351-1  EEE-431-1             EEE-473-1  EEE-443-1
7
8

In [33]:
extractor.get_course_info('EEE-424')

[{'Course Code': 'EEE-424',
  'Section Number': '1',
  'Course Name': 'Digital Signal Processing',
  'Instructor Name': 'Süleyman Serdar Kozat',
  'Lecture Hours': ['Mon 08:30-10:20', 'Wed 13:30-15:20']}]