In [4]:
from scheduler_class import CourseScheduleExtractor
courses = ['EEE-313', 'EEE-321', 'EEE-351', 'EEE-485']
schedule_string = open('data.txt','r').read()
extractor = CourseScheduleExtractor(schedule_string, courses)
extractor.get_courses()
X = extractor.get_schedules()
import pandas as pd

dff = pd.DataFrame(X[0])
dff

All courses:  ['EEE-212', 'EEE-313', 'EEE-321', 'EEE-351', 'EEE-447', 'EEE-448', 'EEE-485']

Selected courses:  ['EEE-313', 'EEE-321', 'EEE-351', 'EEE-485']

Number of schedules found: 3

EEE-313 Section: 2
EEE-321 Section: 1
EEE-351 Section: 3
EEE-485 Section: 1
EEE-313 Section: 3
EEE-321 Section: 1
EEE-351 Section: 1
EEE-485 Section: 1
EEE-313 Section: 3
EEE-321 Section: 1
EEE-351 Section: 3
EEE-485 Section: 1

         Mon        Tue        Wed        Thu        Fri
1  EEE-321-1  EEE-485-1  EEE-351-3  EEE-313-2
2  EEE-321-1  EEE-485-1  EEE-351-3  EEE-313-2
3
4
L
5  EEE-313-2  EEE-313-2  EEE-321-1  EEE-485-1  EEE-351-3
6  EEE-313-2  EEE-313-2  EEE-321-1  EEE-485-1  EEE-351-3
7             EEE-313-2                        EEE-321-1
8             EEE-313-2                        EEE-321-1